footer {
    text-align: center;
    font-size: 14px;
    padding: 24px;
    font-weight: bolder;
    color: #f9d3b4;
}

footer a {
    text-decoration: none;
    color:#f9d3b4;
}

footer p ion-icon {
    color: red;
}


